#choose-one .background-image {
  width: 100vw;
  height: 100%;
  background-image: url("/src/BackgroundImage.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -5;
  filter: blur(10px);
}
.question {
  margin: 130px auto 20px;
  width: 50%;
  color: #000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 1.2px;
  line-height: 50px;
  font-weight: bold;
}
.question h3 {
  text-align: center;
}
.question .button {
  width: 34%;
  padding: auto 20px;
}
